github "realm/realm-cocoa"
github "onevcat/Kingfisher"
github "Alamofire/Alamofire" "5.0.0-beta.6"
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "danielgindi/Charts" ~> 3.3.0
github "RxSwiftCommunity/RxAlamofire" ~> 5.0
